* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --color-primary: #845ef7;
    --color-secondary: #5c7cfa;
    --border-bottom: 2px solid #862e9c;
    --font-color: #495057;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

body {
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    background-image: linear-gradient(to right bottom, var(--color-primary), var(--color-secondary));
    background-repeat: no-repeat;
    height: 100vh;
    color: var(--font-color);
}

.container {
    min-width: 32rem;
    margin: 0 auto;
    padding: 1rem;
}

h1 {
    font-size: 4rem;
    padding-bottom: 1rem;
    border-bottom: var(--border-bottom);
}

.meme__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
}

.meme__item {
    padding-bottom: 1rem;
    width: 100%;
    list-style: none;
    border-bottom: var(--border-bottom);
}
.meme__content {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
}
.meme-toggle {
    display: none;
}
.meme-toggle:checked ~ .meme__img {
    width: 100%;
    height: 25rem;
}
.meme__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.meme__name {
    color: #333;
    font-size: 2rem;
    font-weight: 600;
}
.meme__btn {
    border: none;
    outline: none;
    background-color: transparent;
    display: flex;
    align-items: center;
}
.meme__btn-icon {
    transform: rotate(45deg);
    height: 1.5rem;
    width: 1.5rem;
    transition: all 0.3s;
}
.meme-toggle:checked ~ .meme__header > .meme__btn-icon {
    transform: rotate(0deg);
}
.meme__img {
    width: 0;
    height: 0;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 0.5rem;
    transition: all 0.4s;
}
.meme__img-1 {
    background-image: url(img/1.webp);
}
.meme__img-2 {
    background-image: url(img/2.webp);
}
.meme__img-3 {
    background-image: url(img/3.webp);
}
.meme__img-4 {
    background-image: url(img/4.webp);
    background-size: 90%;
}
.meme__img-5 {
    background-image: url(img/5.webp);
}
